a {
    color: $blue;
    text-decoration: none; 
    
    &:hover {
        color: $dark-blue;   
    }
}

.ctn {  
    display: inline-block;
    padding: 0.95em 1em 0.55em;
    background: $darkest-grey;
    color: $white;
    font-family: $font-secondary; 
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: 0.4s ease; 
    white-space: nowrap;
    
    &:hover {
        background: $darkest-grey;
        color: $white; 
    }
}