<?xml version="1.0"?>
<config>
    <modules>
        <Psquared_PriceRounding>
            <version>1.0.2</version>
        </Psquared_PriceRounding>
    </modules>
    <global>
        <helpers>
            <pricerounding>
                <class>Psquared_PriceRounding_Helper</class>
            </pricerounding>
        </helpers>
        <models>
            <pricerounding>
                <class>Psquared_PriceRounding_Model</class>
            </pricerounding>
            <directory>
                <rewrite>
                    <currency>Psquared_PriceRounding_Model_Directory_Currency</currency>
                </rewrite>
            </directory>
        </models>
    </global>
    <default>
        <catalog>
            <price_rounding>
                <enable_price_rounding>0</enable_price_rounding>
                <rounding_method>2</rounding_method>
            </price_rounding>
        </catalog>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <pricerounding>
                    <files>
                        <default>Psquared_PriceRounding.csv</default>
                    </files>
                </pricerounding>
            </modules>
        </translate>
    </adminhtml>
</config>